
*{
   font-family: "Roboto";
}
.gradent > span {
   position: absolute;
   width: 100%;
   transform: translateX(-15px) translateY(-50%);
   text-align: center;
   top: 50%;
   /*font-size: large;*/
   color: white;
}
.gradent-1 {
   color: white;
   background: rgba(243,169,149,1);
   background: linear-gradient(rgb(0, 232, 170) 0%, rgba(17,155,219,1) 100%);
}
.gradent-2 {
   color: white;
   background: rgba(243,169,149,1);
   background: linear-gradient(rgb(255, 194, 150) 0%, rgba(236,23,101,1) 100%);
}
.gradent-3 {
   color: white;
   background: rgba(243,169,149,1);
   background: linear-gradient(rgb(189, 37, 163) 0%, rgba(111,53,133,1) 100%);
}
.gradent-4 {
   color: white;
   background: rgba(243,169,149,1);
   background: linear-gradient(rgb(0, 182, 246) 0%, rgba(150, 0, 250,1) 100%);
}
.gradent-5 {
   color: white;
   background: rgb(245, 0, 75);
   background: linear-gradient(rgb(216, 69, 82) 0%, rgb(105, 121, 228) 100%);
}
.gradent-2 > span {
   /*font-size: large;*/
   color: white;
}
.gradiente {
   font-weight: bold;
   color: black;
   background-color: #fff9;
   box-shadow: 1px 2px 6px 0 black;
   border: none;
   border-radius: 25px;
   padding: 15px 10px;
   /*background: rgba(243,169,149,1);
   background: -moz-linear-gradient(left, rgba(243,169,149,1) 0%, rgba(126,72,113,1) 100%);
   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,169,149,1)), color-stop(100%, rgba(126,72,113,1)));
   background: -webkit-linear-gradient(left, rgba(243,169,149,1) 0%, rgba(126,72,113,1) 100%);
   background: -o-linear-gradient(left, rgba(243,169,149,1) 0%, rgba(126,72,113,1) 100%);
   background: -ms-linear-gradient(left, rgba(243,169,149,1) 0%, rgba(126,72,113,1) 100%);
   background: linear-gradient(to right, rgba(243,169,149,1) 0%, rgba(126,72,113,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3a995', endColorstr='#7e4871', GradientType=1 );*/
}
.fullscreen {
   height: 100%;
   width: 100%;
}
.profile-photo {
   clip-path: circle(60px at center); 
   width: 120px; 
   height: 120px; 
   background-size: cover;
   background-color: #00000011;
   background-position: center;
}
.upload-background {
   background-size: 50%;
   background-repeat: no-repeat;
   background-position: center;
   background-image: url('../Images/upload.png');
}
.top_menu {
   z-index: 1;
   height: 9%;
   /*background-image: url('../Images/background.jpg');
   background-size: cover;
   background-position: center;*/
   background-color: #000c;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   box-shadow: 0 8px 8px -4px grey;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   color: white;
}
.top_menu > span {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 10px;
   font-size: x-large;
   z-index: 1;
   cursor: pointer;
}
.top_menu > span:hover {
   color: transparent;
   background-image: url('../Images/paw.png');
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}
.top_menu > div > h3 {
   margin-top: 15px;
   text-align: center;
}
.square-4 {
   cursor: pointer;
}
.square-4 > .sqr_hidden {
   width: 100%;
   padding-bottom: 30px;
   visibility: hidden;
}
.square-4:hover > div {
   background-image: url('../Images/pawprints.png');
   background-size: 25%;
   animation: animacion1 3s infinite linear;
}
.square-4:hover > span {
   font-family: 'Courier New', Courier, monospace;
   background-color: #ffffffaa;
   color: black;
   font-weight: bold;
}
@keyframes animacion1 {
   0% {
      background-position-x: 0%;
   }
   100% {
      background-position-x: 100%;
   }
}
.wave {
   position: absolute;
   top: 0px;
   right: 0px;
   left: 0px;
   height: 100%;
   width: 200%;
   background-position: 0 bottom;
   background-repeat: repeat-x;
   transform-origin: center bottom;
}
@keyframes waves {
   0% {
      transform: translateX(0) translateZ(0) scaleY(1);
   }
   0% {
      transform: translateX(-25%) translateZ(0) scaleY(.5);
   }
   0% {
      transform: translateX(-50%) translateZ(0) scaleY(1);
   }
}
.main-color {
    background-color: #174c6d;
    color: white;
}
.secundary-color {
    background-color: #5091c5;
    border-color: #5091c5;
}
.secundary-color:hover {
    background-color: #3678ad;
    border-color: #3678ad;
}
.accent-color {
    background-color: #f7a33c;
    border-color: #f7a33c;
}
.accent-color:hover, .accent-color:focus {
    background-color: #e79d42;
    border-color: #e79d42;
}
.accent-color:focus {
    outline-color: #fab969;
}
main {
   background-color: #ececec; 
   font-family:'Roboto';
}
.bg-ucsm{
   background-color: #245433;
   color: #ffffff;
}
.bg-sc-ucsm{
   background-color: #f8aa1a;
   color: #fff;
}
/*.footer {
   position: absolute;
   left: 0;
   padding: 1rem;
}*/
.a-ucsm:link{
   color: #245433;
}
.no-resize{
   resize: none;
}
.uppercase{
   text-transform: uppercase;
}

.mh-50{
   max-height: 50vh;
   overflow-y: scroll;
}

divHeader,
divFooter {
   flex: none;
}

.divBody {
   width: 100%;
   background-color: #ececec; 
   font-family: "Roboto";
}

.divHeader {
   background-color: #FFFFFF; 
   color: #000000;
   font-family:'Roboto';
}

.panel-default{
   color: #333;
   background-color: #FFFFFF;
   border-color: #ddd;
}

.panel-info{
   color: #333;
   background-color: #FFFFFF;
   border-color: #ddd;
}

.panel-success{
   color: #333;
   background-color: #FFFFFF;
   border-color: #ddd;
}

.divFooter {
   background-color: #ececec;
   width: 100%;
   color: #000000;
   z-index: 5000;
   font-family: "Roboto";
}

/*.panel > .panel-heading {
    background-image: none;
    background-color: #ffa000;
    color: white;
}*/

.panel > .panel-title {
    background-image: none;
    background-color: #ffa000;
    color: white;
}

.warning2{
   background-image: none;
   background-color: #ffa000;
   color: white;
   font-family: "Roboto";
}

.success2{
   background-image: none;
   background-color: #689f38;
   color: white;
   font-family: "Roboto";
}

@font-face {
    font-family: "Roboto";
    src: url(../Styles/fonts/RobotoCondensed-Regular.ttf) format("truetype");
}

/*NAVIGATION MOBILE*/
/* The side navigation menu */
.sidenav {
   height: 100%; /* 100% Full-height */
   width: 0; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   z-index: 1; /* Stay on top */
   top: 0; /* Stay at the top */
   left: 0;
   background-color: #111; /* Black*/
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 60px; /* Place content 60px from the top */
   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidenav button {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 20px;
   color: rgb(235, 231, 231);
   display: block;
   transition: 0.3s;
   background-color: transparent;
   border: none;
}
.sidenav button:hover {
   text-decoration: underline;
}
/* The navigation menu links */
.sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 20px;
   color: rgb(235, 231, 231);
   display: block;
   transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
   color: #f1f1f1;
}
 
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}
 
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
   transition: margin-left .5s;
   padding: 20px;
}

#txofDialog {
   position: fixed; 
   top: 0; 
   left: 0; 
   width: 100%; 
   height: 100%; 
   z-index: 4;
}

.dialogBackground {
   background-color: #000a; 
   position: absolute; 
   top: 0; 
   left: 0; 
   width: 100%; 
   height: 100%;
}

.footer {
   height: 5%; 
   position: fixed; 
   width: 100%; 
   bottom: 0; 
   background-color: #000; 
   box-shadow: 0 -2px 8px 2px;
   z-index: 4;
}
 
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
   .text-responsive {
      font-size: normal;
   }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
   .text-responsive {
      font-size: 25px;
   }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
   .text-responsive {
      font-size: x-large;
   }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
   .text-responsive {
      font-size: x-large;
   }
}
